<div id="<%= dom_id comentary %>">
  <p>
    <strong>Description:</strong>
    <%= comentary.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comentary.user_id %>
  </p>

  <p>
    <strong>Photos:</strong>
    <%= comentary.photos_id %>
  </p>

</div>
