<% content_for :title, "Editing comentary" %>

<h1>Editing comentary</h1>

<%= render "form", comentary: @comentary %>

<br>

<div>
  <%= link_to "Show this comentary", @comentary %> |
  <%= link_to "Back to comentaries", comentaries_path %>
</div>
