/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
:root{
  --COMMENT_PFP_SIZE: 25px;
  --NAVBAR_PFP_SIZE: 25px;
}

.fotoNavbar{
  text-align: right;
  width: auto;
/*   background-color: pink;  */
/*   border: 1px solid black; */
  >img{
    height: var(--NAVBAR_PFP_SIZE);
    width: var(--NAVBAR_PFP_SIZE);
  }
}

a.navbar-brand{
  margin: 0px;
}

#welcome{
  text-align: center;
  margin: 5vh 0 0 0;
  padding: 2.5%;
  background-color: rgba(127, 255, 212, 0.125);
  border: 5px double black;
}

.prefooter{
  margin-bottom: 10vh;
}

.pfpComment{
  height: var(--COMMENT_PFP_SIZE);
  width: var(--COMMENT_PFP_SIZE);
}

.comments-section{
}

.comentary{
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.1);
  >div{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
}

.comment_user{
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 2px;
  margin: 0px;
}

.opt_btns{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
